eu.jucy.releng.languages/translation/lang.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Translation">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Plugin">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Trl">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="de" type="xs:string" />
                    <xs:element name="en" type="xs:string" />
                    <xs:element minOccurs="0" name="hu" type="xs:string" />
                    <xs:element minOccurs="0" name="it" type="xs:string" />
                    <xs:element minOccurs="0" name="ru" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>